* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #6CACED #fff;
}

*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: #F6F7FB;
}

*::-webkit-scrollbar-thumb {
  background-color: #6CACED;
  border-radius: .75rem;
  border: 0 solid #F6F7FB;
}

.App {
  display: grid;
  grid-template-columns: 5.75rem 16.5rem 25rem auto;
  grid-template-rows: 5rem 3rem auto;
  width: 100%;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between
}

.mail-list {
  overflow-y: scroll;
  padding: 1rem 0rem;
  grid-column: 3/3;
  grid-row: 3/5;
  gap: .5rem;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.user-avatar {
  border: .175rem solid #1667DE;
  border-radius: 1000rem;
  background-color: #F1B7E7;
  width: 1.75rem;
  height: 1.75rem;
  overflow: hidden;
}

.user-avatar > img {
  width: inherit;
  height: auto;
}


@import url('./menu-left.css');
@import url('./buttons.css');
@import url('./menu-main.css');
@import url('./memory.css');
@import url('./settings-menu.css');
@import url('./header.css');
@import url('./inputs.css');
@import url('./mail-options.css');
@import url('./mail-item.css');