* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1rem;
}

.App {
  display: flex;
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}


@import url('./menu-left.css');
@import url('./buttons.css');
@import url('./menu-main.css');
@import url('./memory.css');
@import url('./settings-menu.css');