/* base style */

.btn {
    border: 0;
    border-radius: .75rem;
    font-weight: 400;
    display: flex;
    transition: all ease-out .15s;
    cursor: pointer;
}

.btn-layout {
    gap: .5rem;
    align-items: center;
}

/* link button */

.btn-link {
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.btn-link:hover {
    background-color: #0E479C;
}

/* primary button */

.btn-primary {
    padding: 1rem 0rem;
    width: 100%;
    color: #fff;
    font-size: 1.25rem;
    gap: .75rem;
    background: linear-gradient(270deg, #E17ED1 23.54%, #F1B7E7 100%);
}

.btn-primary:hover {
    background: linear-gradient(1000deg, #E17ED1 0%, #F1B7E7 100%);
    transition: all .15s ease-out;
}

.btn-primary:active {
    opacity: .75;
}

/* main menu button */

.btn-switch-menu {
    justify-content: space-between;
    padding: .5rem;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
}

.btn-switch-menu:hover {
    background-color: #D7E9FF;
    transition: all .15 ease-out;
}

.btn-switch-menu:focus {
    background-color: #D7E9FF;
}

/* subsidary button */

.btn-subsidary {
    background: transparent;
    font-weight: 400;
    color: #83AFEF;
    font-size: .75rem;
}

.btn-subsidary:hover {
    color: #1667DE;
}

.btn-subsidary:active {
    opacity: .5;
}

/* options button */

.btn-option {
    background-color: #D7E9FF;
    height: 2rem;
    flex-grow: 1;
    transition: all .15s ease-out;
}

.btn-option:hover {
    background-color: #EBF4FF;
}

.btn-option:active {
    background-color: #fff;
}
