input::-moz-placeholder {
    color: #1667DE;
}
input::-webkit-input-placeholder {
    color: #1667DE;
}

textarea::-moz-placeholder {
    color: #1667DE;
}
textarea::-webkit-input-placeholder {
    color: #1667DE;
}

input {
    height: 2.5rem;
    border-radius: .75rem;
    border: .175rem solid #1667DE;
    padding: 0rem 1rem;
    color: #1667DE;
    background-color: #F0F6FF;
    outline: none;
}

input[type='search'] {
    width: 21.5rem;
}

input:hover, input:focus {
    background-color: #fff;
}

textarea {
    border-radius: .75rem;
    border: .175rem solid #1667DE;
    padding: .75rem 1rem;
    color: #1667DE;
    background-color: #F0F6FF;
    outline: none;
    max-width: inherit;
    resize: none;
    flex-grow: 1;
}

.checkbox {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    
.checkbox input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
    
.checkbox input[type='checkbox']:checked ~ .checkmark {
    background-color: #1667DE;
    border: 3px solid #6DADED;
}

.checkbox input[type='checkbox']:checked ~ .checkmark:after {
    opacity: 1;
}

.checkbox:hover input[type='checkbox'] ~ .checkmark {
    background-color: transparent;
}

.checkbox:hover input[type='checkbox']:checked ~ .checkmark {
    background-color: #1667DE;
    border: 3px solid #6DADED;
}

.checkbox .checkmark {
    position: relative;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
    border: 3px solid #1667DE;
    transition: all .15s ease-out;
}
