.mail-options {
    gap: 1rem;
    padding: 0 1.75rem;
    height: 2.75rem;
    grid-column: 1/3;
    grid-row: 1/1;
    border-bottom: .175rem solid #d8e5f5;
}

.mail-options > .checkbox {
    align-self: center;
}